#ignore
node_modules
npm-debug.log

.idea/
build/.grunt/
build/.ftppass

dev/assets/img
prod/assets/img
build/files/vendor/css/*
build/files/vendor/js/*

#temp ignore
dev/
prod/


#allow
!build/files/vendor/js/texttype.js
