#ignore
.idea/

node_modules
npm-debug.log

build/.grunt/

build/.ftppass
build/.ftppass.custom

build/files/config/profile.json
build/files/config/profile.json.custom
build/files/config/settings.json
build/files/config/settings.json.custom

build/files/templates/partials/*.html

build/files/vendor/css/*
build/files/vendor/js/*
build/files/vendor/fonts/*

#temp ignore
dev/
prod/


#allow
